@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Detailed Drink View</h2>

<div>
    <h4>Drinks</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Drink Name
        </dt>
         @*Markup omitted for clarity.*@
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Order Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            Mixers
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
